#main{
	background-color: #F8F8F8;
	font-family: Arial;
}

.container {
    background-color: white;
}

.footer {
background-color: #F8F8F8;
color: #5E5E5E;
padding: 15px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.text {
 font-size: 35px;
}

.subtext {
 font-size: 25px;
}
.subtext1 {
 font-size: 25px;
 color: #E9268F
}

.edit {
    width: 17%;
    height: auto;
}

.dz{
	width:40%;
	height: auto;
}

.custom {
    width: 80px;
}

.form-custom{
	padding:20px;
}